.Chatmain
  .Chatmain-heder
    .Chatmain-heder__group
      .Chatmain-heder__groupname
        name
      .Chatmain-heder__groupmenberlist
        Menber：
        .Chatmain-heder__groupmenber
          name
    .Chatmain-heder_edit
      = link_to '#', class: "Chatmain-heder_edit__Button" do
        Edit
  .Chatmain-groups
  .chatmain-bottom