.wrapper{
  display: flex;
  height: 100vh;
}

.Chatmain {
  background-color: #ffffff;
  width: calc(100vw - 300px);
}

.Chatmain-heder {
  background-color: #ffffff;
  padding: 0 40px;
  height: 100px;
  display: flex;
  justify-content: space-between; 
  &__groupname{
    color: #333333;
    font-size: 20px;
    margin-top: 35px;
  }
}

.Chatmain-heder__groupmenberlist{
  color: #999999;
  font-size: 12px;
  margin-top: 15px;
  display: flex;
}

.Chatmain-heder_edit {
  margin-top: 28px;
  padding: 0 20px;
  display: block;
  line-height: 40px;
  border: 1px solid #38AEF0;
  height: 40px;
  &__Button {
  color: #38aef0;
  text-decoration: none;
  }
}

.Chatmain-groups {
  background-color: #fafafa;
  width: calc(100vw - 300px);
  height: calc(100vh - 100px - 90px);
}

.chatmain-bottom {
  background-color: #d2d2d2;
width: calc(100vw - 300px);
height: 90px;
}